.toast {
    visibility: hidden;
    min-width: 250px;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 12px;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}
.toast.show {
    visibility: visible;
    opacity: 1;
}