body, ul, li, a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f0f2f5;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1877f2;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .logo a{
    color: #ffffff;
  }
  
  .search-bar {
    width: 300px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;
  }
  
  .navbar-icons span {
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .navbar-icons span a{
    color: #ffffff;
  }
  
  /* Main Container */
  .main-container {
    display: flex;
    margin-top: 20px;
  }
  
  /* Sidebar */
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 20px;
    padding: 10px;
    height: 100vh;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar ul li {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .sidebar ul a{
    color: #000;
  }

  .sidebar ul li:hover {
    background-color: #e4e6eb;
  }
  
  /* Feed */
  .feed {
    flex: 1;
    padding: 20px;
  }
  
  .post {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .post-user {
    font-weight: bold;
  }
  
  .post-content {
    font-size: 14px;
    color: #333;
  }

  
  .List{
    flex: 1;
    padding: 20px;
    max-width: 220px;
    background-color: #ffffff;
    border-radius: 20px;
  }
  
  .leftContent {
    flex: 1;
    overflow-y: auto;
  }

  .chatUser{
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    margin-left: 15px;
  }
  
  .chatUser:hover{
    background-color: #c0c0c0;
    border-radius: 10px;
  }
  
  .chatUser {
    cursor: pointer;
  }