body, ul, li, a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #4f596d;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1877f2;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .logo a{
    color: #ffffff;
  }
  
  .search-bar {
    width: 300px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;
  }
  
  .navbar-icons span {
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .navbar-icons span a{
    color: #ffffff;
  }
  
  
  .main-container {
    display: flex;
    margin-top: 20px;
  }
  
  
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 20px;
    padding: 10px;
    height: 100vh;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 5%;
  }
  
  .sidebar ul li {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .sidebar ul a{
    color: #000;
  }

  .sidebar ul li:hover {
    background-color: #e4e6eb;
  }
  
  
  .feed {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 20px;
    
  }
  
  .post {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .post-user {
    font-weight: bold;
  }
  
  .post-content {
    font-size: 14px;
    color: #333;
  }

  
  .List{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 250px;
    height: 100vh;
    background-color: #ffffff;
    border-radius: 20px;
    border: 20px;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    position: relative;
    right: 5%;
  }
  
  .leftContent {
    flex: 1;
    overflow-y: auto;
  }

  .chatUser{
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    margin-left: 15px;
  }
  
  .chatUser:hover{
    background-color: #c0c0c0;
    border-radius: 10px;
  }
  
  .chatUser {
    cursor: pointer;
  }

  .posts {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: auto;
    padding: 20px;
    border-radius: 8px;
  }
  .post-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .post-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .post img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 10px;
  }
  .post-files {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .post-images-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 10px; 
    max-width: 100%;
  }
  
  .post-image {
    width: 90%;
    max-width: 250px;
    height: auto;
    object-fit: cover; 
    cursor: pointer;
  }
  
  
  .post-video {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
  }
  
  .post-document {
    display: block;
    margin-top: 10px;
    color: blue;
    text-decoration: underline;
    font-weight: bold;
  }
  .headerIcon{  
    font-size: 15px;
  }
  .headerIcon a{
    margin-left: 15px;
  }
  .user-info{
    display: flex;
    align-items: center;
  }
  .imgContent{
    max-width: 170px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .msgContent{
    max-width: 100%;
  }
  
  .msgContent .messageContent {
    padding: 0 8px; 
    border-radius: 20px; 
  }
  
  .received .messageContent {
    background-color: #c0c0c0; 
    align-items: flex-start;
    align-self: flex-start;
    justify-content: flex-start;
    color: #000000cc;
  }
  
  .sent .msgContent{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  
  .sent .messageContent {
    display: flex;
    align-items: flex-end; 
    background-color: #3872fa;
    color: white;
    font-size: 15px;
  }
  
  .send .msgContent a:hover{
    display: flex;
  }
  
  .received .msgContent{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  @media (max-width: 600px) {
    .container {
        padding: 10px;
    }
  
  }