* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body, ul, li, a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--navbar-background-color);
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .logo a{
    color: #ffffff;
  }
  
  .search-bar {
    width: 300px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;
  }
  
  .navbar-icons span {
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .navbar-icons span a{
    color: #ffffff;
  }

  .mainContent {
    display: flex;
    height: 94vh;
    background-color: var(--background-color);
  }
  
  .left {
    width: 25%;
    background-color: var(--background-color);
    border-right: 1px solid var(--black-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .right {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  }
  
  .side{
    width: 30%;
    background-color: var(--background-color);
    flex-direction: column;
    /* align-items: center; */
    padding: 10px
  }
  
  .headerSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .headerSide p{
    color: var(--text-color);
  }
  .headerSide i{
    color: var(--text-color);
  }
  
  #headerAva{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .file{
    display: flex;
    flex-direction: column;
  }
  
  .file a{
    text-decoration: none;
    padding: 5px;
    color: var(--text-color);
  }
  
  .file a:hover{
    background-color: var(--form-color);
    border-radius: 10px;
  }
  
  #fileDisplay{
    flex-direction: column;
  }

  #imgFile{
    flex-direction: column;
  }
  
  .form__group {
    margin-bottom: 20px;
    margin-left: 15px;
  }
  
  .form__field {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--black-color);
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--post-comments-color);
    color: var(--text-color);
  }
  
  .user-info{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .user-info-status{
    display: flex;
    flex-direction: column;
  }
  
  .form__label {
    display: none;
  }
  
  .a-tag {
    display: flex;
    justify-content: space-between;
  }
  
  /* .a-tag div {
    flex: 1; 
    text-align: center; 
  } */
  
  .a-tag a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: var(--text-color);
    font-weight: bold;
    border-radius: 5px;
    white-space: nowrap;
    transition: color 0.3s, background-color 0.3s; 
  }
  
  .a-tag a.active {
    color: rgb(15, 115, 255); 
  }
  
  .a-tag a:hover {
    color: rgb(15, 115, 255);
  }
  
  .leftContent {
    flex: 1;
    overflow-y: auto;
  }
  
  .right .header {
    padding: 20px;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--black-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .right .header p, span {
    font-size: 18px;
    color: var(--text-color);
  }
  
  .right .header i{
    color: var(--icon-color);
  }
  
  .rightContent {
    flex: 1;
    padding: 20px;
    overflow-y:auto;
    background-color: var(--background-color)
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--background-color); 
  }
   
  ::-webkit-scrollbar-thumb {
    background: var(--black-color); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .rightFooter {
    padding: 20px;
    background-color: var(--background-color);
    border-top: 1px solid var(--black-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .chatFunction {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
  
  
  
  .chatFunction i {
    font-size: 20px;
    width: auto;
    padding: 10px;
    cursor: pointer;
    color: var(--text-color);
  }
  
  .chatFunction i:hover{
    background-color: var(--form-color);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .chatInput {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    border-radius: 20px;
    background-color: var(--text-area-color);
  }
  
  .chatInput textarea {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    word-wrap: break-word;
    resize: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    border-width: 0;
    /* margin-right: 25px; */
    background-color: var(--text-area-color);
  }
  
  .chatInput textarea:focus{
    outline: none;
  }
  
  #sendButton {
    width: auto;
    padding: 10px;
    background-color: var(--background-color);
    border: none;
    font-size: 16px;
    margin-left: 5px;
    color: var(--text-color);
  }
  
  #sendButton:hover{
    background-color: var(--form-color);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .message {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .chatUser{
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    margin-left: 15px;
  }
  
  .chatUser:hover{
    background-color: var(--form-color);
    border-radius: 10px;
  }
  
  .chatUser {
    cursor: pointer;
  }
  
  
  .content{
    display: flex;
    flex-direction: column;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  
  #avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .loading {
    text-align: center;
    font-size: 1.2rem;
  }
  .message {
    display: flex;
    align-items: center;
    margin: 10px 0; 
  }
  
  .message.received {
    justify-content: flex-start; 
  }
  
  .message.sent {
    justify-content: flex-end; 
  }
  
  .avatar {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 10px; 
  }
  
  .file-label {
    cursor: pointer; 
    margin-left: 10px; 
    font-size: 1.5em; 
  }
  
  #deleteChatButton{
    display: flex;
    flex-direction: row;
    color: red;
    text-decoration: none;
    justify-content: space-evenly;
    padding: 10px;
    cursor: pointer;
  }
  
  #deleteChatButton:hover {
    background-color: var(--form-color);
    border-radius: 10px;
  }
  
  .imgContent{
    max-width: 350px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .contentTime{
    font-size: 10px;
    margin-top: 10px;
  }
  
  .msgContent{
    max-width: 80%;
  }
  
  .msgContent .messageContent {
    padding: 12px; 
    border-radius: 20px; 
  }
  
  .received .messageContent {
    background-color: var(--message-bg-color); 
    align-items: flex-start;
    align-self: flex-start;
    justify-content: flex-start;
    color: var(--pure-white);
  }
  
  .sent .msgContent{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  
  .sent .messageContent {
    display: flex;
    align-items: flex-end; 
    background-color: var(--message-bg-color);
    color: var(--pure-white);
  }
  
  .send .msgContent a:hover{
    display: flex;
  }
  
  .received .msgContent{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .imgPreview {
    max-width: 30%;
    border-radius: 8px; 
    margin-top: 10px; 
    margin-left: 10px; 
  
  }
  
  #inputPreview {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: var(--text-area-color); /* màu nền nhạt */
    border-radius: 10px;
    border: 1px solid var(--text-area-color); /* đường viền nhạt */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

#inputPreview img,
#inputPreview video {
    max-width: 120px;
    max-height: 120px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
}

#inputPreview img:hover,
#inputPreview video:hover {
    transform: scale(1.05);
}

.fileItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e5e7eb;
    border-radius: 8px;
    padding: 10px;
    max-width: 150px;
    word-break: break-word;
    font-size: 14px;
}

.fileItem i {
    font-size: 24px;
    margin-bottom: 5px;
    color: #6b7280;
}

  
  .chatLeft, .chatRight{
    display: none;
  }
  
  .chatLeft a{
    padding-right: 10px;
    color: #000;
  }
  
  .chatRight a{
    padding-left: 10px;
    color: #000;
  }
  
  .message.received:hover .chatRight{
    display: flex;
    justify-content: flex-start;
  }
  
  .message.sent:hover .chatLeft{
    display: flex;
    justify-content: flex-start;
  }
  
  .icon{
    position:static;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    padding-left: 10px;
    color: var(--icon-color);
  }
  
  .headerIcon a {
    margin-left: 15px;
    color: #333;
    text-decoration: none;
  }
  
  .three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #5D3FD3;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
   }
   
   .three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
   }
   
   .three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
   }
   
   .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
   }
   
   .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
       calc(var(--uib-speed) * -0.15) ease-in-out;
   }
   
   .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
   }
   
   .three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
   }

   .image-popup {
    display: none; 
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    text-align: center;
}

.image-popup .popup-content {
    max-width: 90%;
    max-height: 90%;
    margin-top: 3%;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.download-btn {
  position: absolute;
  top: 15px;
  right: 70px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.download-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

.prev-btn, .next-btn {
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
}

.prev-btn, .next-btn {
  position: absolute;
  color: white;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

  .prev-btn {
    left: 20px; 
  }
  .next-btn { 
    right: 20px;
  }
 .prev-btn:hover, .next-btn:hover {
    background: rgba(0, 0, 0, 0.5);
  }

  .image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    max-height: 400px; 
    overflow-y: auto; 
    overflow-x: auto;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background: var(--post-comment-input);
  }

  .image-container img {
      width: 100px; 
      height: 100px; 
      object-fit: cover; 
      border-radius: 5px;
      cursor: pointer;
      transition: transform 0.2s;
  }

  .image-container img:hover {
      transform: scale(1.1); 
  }

   
   @keyframes spin78236 {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes wobble1 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(-66%) scale(0.65);
     opacity: 0.8;
    }
   }
   
   @keyframes wobble2 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(66%) scale(0.65);
     opacity: 0.8;
    }
   }
   
  
  .msgDate{
    font-size: 10px;
  }
  .fileLink {
    display: inline-block;
    margin-top: 5px;
    color: #007bff;
    text-decoration: underline;
    word-break: break-all;
}
.videoContent {
    max-width: 300px;
    border-radius: 8px;
    margin-top: 5px;
}
