/* Mặc định là chế độ sáng */
body {
    background-color: white;
    color: black;
    transition: background 0.3s, color 0.3s;
}

/* Chế độ tối */
.dark-mode {
    background-color: #121212;
    color: white;
}

/* Style cho nút bật/tắt */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}


/* Modal (ẩn mặc định) */
.modal {
    display: none; /* Ẩn modal ban đầu */
    position: fixed;
    z-index: 1000; /* Lớp trên cùng */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Làm mờ nền */
}

/* Nội dung Modal */
.modal-content {
    background-color: var(--background-color);
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    position: relative;
}
.modal-content h2 ,span{
    color: var(--white-color);
}
/* Nút đóng */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: var(--white-color);
}
