<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../styles/friendNoti.css">
    <link rel="stylesheet" href="../styles/home.css">
    <!-- <title>Danh sách lời mời kết bạn</title> -->
</head>
<body>
    <div class="navbar">
        <div class="logo"><a href="home.html">Chiap</a></div>
        <div style="display: flex; align-items: center; ">
          <input type="text" class="search-bar" id="searchInput" placeholder="Tìm kiếm...">
          <a href="#" id="searchButton" style="text-decoration: none; color: #000; position: fixed; right: 42%;">
            <i class="fa-solid fa-magnifying-glass" ></i>
          </a>
        </div>
        <div class="navbar-icons">
          <span><a href=""><i class="fa-solid fa-bell"></i></a></span> 
          <span><a href=""><i class="fa-solid fa-message"></i></a></span>
          <span><a href="profile.html"><i class="fa-solid fa-user"></i></a></i></span>
        </div>
    </div>
    

    <h1>Thông báo</h1>
    <div class="notification" id="notification"></div>
    <div class="error" id="error"></div>
    <div class="friend-request-list" id="friendRequestList"></div>

    <script type="module" src="../scripts/friendNoti.js"></script>
    <script type="module" src="../scripts/settings.js"></script>
    <script type="module" src="../scripts/index.js"></script>
</body>
</html>
