<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- <title>Home</title> -->
  <link rel="stylesheet" href="../styles/home.css">
  <link rel="stylesheet" href="../styles/addFriend.css">
</head>
<body>
  <div class="navbar">
    <div class="logo"><a href="home.html">Chiap</a></div>
    <div style="display: flex; align-items: center;">
      <input type="text" class="search-bar" id="searchInput" placeholder="Tìm kiếm...">
      <a href="#" id="searchButton" style="text-decoration: none; color: #000; position: absolute; right: 42%;">
        <i class="fa-solid fa-magnifying-glass" ></i>
      </a>
    </div>
    <div class="navbar-icons">
      <span><a href=""><i class="fa-solid fa-bell"></i></a></span> 
      <span><a href="message.html"><i class="fa-solid fa-message"></i></a></span>
      <span><a href="profile.html"><i class="fa-solid fa-user"></i></a></i></span>
    </div>
  </div>

  <div class="user-list" id="userList">
  </div>
  <div class="notification" id="notification"></div>
  <div class="error" id="error"></div>

  <div class="main-container">
    <div class="sidebar">
      <ul>
        <h3>Trang chủ</h3>
        <a href="profile.html"><li>Trang cá nhân</li></a>
        <a href="message.html"><li>Tin nhắn</li></a>
        <a href="friendNoti.html"><li>Thông báo</li></a>
        <a href=""><li>Nhóm</li></a>
        <a href="" ><li>Sự kiện</li></a>
      </ul>
      <ul>
        <hr>
        <h3>Cài đặt</h3>
        <a href=""><li><i class="fa-solid fa-globe" style="padding-right: 10px;"></i>Ngôn ngữ</li></a>
        <a href=""><li><i class="fa-solid fa-question" style="padding-right: 10px;" ></i>Hỗ trợ</li></a>
        <a href=""><li><i class="fa-solid fa-phone" style="padding-right: 10px;"></i>Liên hệ</li></a>
      </ul>
      <ul>
        <hr>
        <a href="#" onclick="logout()">
          <li>Đăng xuất<i class="fa-solid fa-arrow-right-from-bracket" style="padding-left: 80px;"></i></li>
        </a>
      </ul>
    </div>

    <div class="feed">
      <div class="post">
        <div class="post-header">
          <img src="../assets/profile-default.png" alt="avatar" class="avatar">
          <span class="post-user">John Doe</span>
        </div>
        <div class="post-content">
          Hello world! Đây là bài viết đầu tiên của tôi.
        </div>
      </div>

      <div class="post">
        <div class="post-header">
          <img src="../assets/profile-default.png" alt="avatar" class="avatar">
          <span class="post-user">Jane Smith</span>
        </div>
        <div class="post-content">
          Hôm nay là một ngày tuyệt vời!
        </div>
      </div>
    </div>

    <div class="List">
        <div class="friendList">Đề xuất</div>
        <div class="friendList">
          Danh sách bạn bè
          <div class="leftContent" id="friendList">
            <div class="loading">Đang tải danh sách bạn bè...</div>
          </div>
        </div>
    </div>
  </div>



  <script type="module" src="../scripts/home.js"></script>
  <script type="module" src="../scripts/function.js"></script>
</body>
</html>
